/*CVAJ Stylesheet*/
		*{
			margin:0;
			padding:0;
			border:none;
		}
		body{
			font-family:Arial Black;
			background-color:#e9ddd3;
		}
		ul{
			list-style:none;
			margin:10px;
		}
		#vend{
			text-decoration:underline;
		}
		/*#club_name{
			color:white;
			font-family:Arial Black;
			font_size:14em;
			padding-left:10px;
			position:relative;
			top:50%;
			webkit-transformation:translateY(-50%);
			-ms-transform:tranlateY(-50%);
			transform:translateY(-50%);
			}*/	
		#ig{
			position:absolute;
			left:1300px;
			top:62px;
		}
		#yt{
			position:absolute;
			left:1245px;
			top:67px;
		}
		#fb{
			position:absolute;
			left:1200px;
			top:66px;
		}
		#slideShow {
			width : 945px;
			height : 650px;
			padding : 5px;
		}
		#right_pic{
			position:absolute;
			width:340px;
			left:1165px;
			top:640px;
			background:none;
			float:left;
			width:340px;
			clear:both;
			position:absolute;
			left:1165px;
			padding:5px 5px 5px 5px;
			margin-top:10px;
			margin-right:10px;
			margin-bottom:10px;
			border:2px solid black;
		}
		#check{
			position:absolute;
			width:300px;
			float:left;
			left:1160px;
			top:30px;
			color:white;
		}
		.square_l{
			font-size:17pt;
			list-style-type:square;
			padding-left:10px;
		}

		.upper_page{
			background-color:#000;
			margin:0;
			height:110px;
			min-width:1520px;
			overflow-x:hidden;
		}
		.left_bar{
			background-color:#eb6902;
			float:left;
			width:175px;
			padding:5px 10px 10px 5px;
			margin-top:10px;
			margin-left:5px;
			border:2px solid black;
			font-size:16pt;
		}
		.left_bar li{
			margin-top:10px;
			margin-bottom:10px;
		}
		.right_bar{
			background-color:#eb6902;
			float:left;
			width:340px;
			clear:both;
			position:absolute;
			left:1165px;
			padding:5px 5px 5px 5px;
			margin-top:10px;
			margin-right:10px;
			border:2px solid black;
		}
		.main{
			color:white;
			background-color:#000;
			font-size:21pt;
			padding:5px 5px 5px 5px;
			overflow:hidden;
			width:945px;
			position:absolute;
			left:205px;
			top:120px;
			min-height:410px;
		}
		.main h1{
			color:white;
			text-align:center;
		}
		.main h2{
			color:white;
			font-size:20pt
		}
		.main_c{
			color:white;
			font-size:17pt;
			list-style:none;
			padding-left:10px;
		}
		.cvalogo{
			float:left;
			width:90px;
			clear:right;
			position:absolute;
			top:50px;
			left:5px;
			webkit-transformation:translateY(-50%);
			-ms-transform:tranlateY(-50%);
			transform:translateY(-50%);
		}
		.cvatext{
			float:right;
			clear:left;
			position:absolute;
			top:50px;
			left:95px;
			webkit-transformation:translateY(-50%);
			-ms-transform:tranlateY(-50%);
			transform:translateY(-50%);
		}
		.btn {
		  color:black;
		  background: #f2842b;
		  width:95px;
		  padding-right:5px;
		  padding-left:5px;
		  border-bottom:solid black 3px;
		  border-right:solid black 3px;
		  border-left:solid black 1px;
		  border-top:solid black 1px;
		  text-decoration: none;
		}

		.btn:hover {
		  background: #db6000;
		}	